[include mainsail.cfg]

## *** THINGS TO CHANGE/CHECK: ***
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Motor currents                                                               [extruder] [stepper] and [_HOME_X/Y] macro sections
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section
## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0

[pause_resume]

[include custom_hardware.cfg]

# Includes MCU, Extruder, Axes, Bed, Fans, Temp Sensors, etc
[include base/*.cfg]
[include macros/*.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes

[force_move]
enable_force_move: True

# Kinematics
[printer]
kinematics: corexy
max_velocity: 400
max_accel: 8000
max_z_velocity: 30
max_z_accel: 500
square_corner_velocity: 6.0

[idle_timeout]
gcode:
  TURN_OFF_HEATERS
  M84
timeout: 3600



# Fans

# Temp Sensors



# Lights

# TODO: Light Macros

[output_pin caselight]
pin: LIGHT_OUTPUT
pwm: true
value: 0
scale: 100
cycle_time: 0.010




# Resonance Tester
[adxl345]
cs_pin: rpi:None
axes_map: x,y,z

# Nevermore Filter


# Bed Screws
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right






#----------------------#
#   FILAMENT SENSORS   #
#----------------------#

[filament_motion_sensor runout_sensor]
switch_pin: ^RUNOUT_SENSOR
detection_length: 7.0
pause_on_runout: True
extruder: extruder

[filament_switch_sensor switch_sensor]
switch_pin: ^SWITCH_SENSOR
pause_on_runout: True




#####################################################################
# Macros
#####################################################################

# [gcode_macro PRINT_START]
# #   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
# gcode:
#     G28                            ; home all axes
#     G90                            ; absolute positioning    
#     G1 Z20 F3000                   ; move nozzle away from bed
   

  
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute
